global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    mode {{ lb_mode | default('http') }}
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend main_frontend
    bind *:{{ frontend_port }}
    default_backend main_backend

backend main_backend
    balance {{ lb_balance_algo }}
{% for host in groups[backend_group] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:{{ backend_port }} check
{% endfor %}

